<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MOO!</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/images/logos/MOO!-min.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}" />
  <img src="{{ url_for('static', filename='assets/images/logos/MOO!.png') }}" alt="" width="100">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="mini-sidebar"
  data-sidebar-position="fixed" data-header-position="fixed">

  <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">

    <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
      <a class="d-flex justify-content-center" href="#">
        <img src="assets/images/logos/MOO!.png" alt="" width="100">
      </a>
    </div>

    <div class="d-flex align-items-center gap-2 ms-auto">
      <a class="btn btn-outline-light d-flex align-items-center gap-2"
         href="./authentication-login.html"
         title="Cerrar Sesión">
        <i class="ti ti-door-exit fs-5"></i>
        <span class="d-none d-sm-block">Logout</span>
      </a>
    </div>

  </div>

    </div>
    <!-- Sidebar Start -->
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <!--  Header End -->
      <div class="body-wrapper-inner">
        <div class="container-fluid">
          <!--  Row 1 -->
          <div class="row">
            <div class="col-lg-8">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center mb-3">
                            <div>
                                <h4 class="card-title">Mapa de Rastreo</h4>
                                <p class="card-subtitle">
                                    Ubicación de las vacas y Geocerca de Pastoreo Activa
                                </p>
                            </div>
                        </div>
                        <div id="cow-tracking-map" style="height: 525px; border-radius: 8px; border: 1px solid #ccc;">
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
              <div class="card overflow-hidden">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-start">
                    <div>
                      <h4 class="card-title">Alertas</h4>
                      <p class="card-subtitle">Listado de alertas</p>
                    </div>
                    <div class="ms-auto">
                      <div class="dropdown">
                        <a href="javascript:void(0)" class="text-muted" id="year1-dropdown" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="ti ti-dots fs-7"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="year1-dropdown">
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Action</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 pb-3 d-flex align-items-center">

                    <div class="card mb-0">
                        <div class="card-body p-4" id="alerts-list-content">
                          <div class="alert alert-primary" role="alert">
                            A simple primary alert—check it out!
                          </div>
                          <div class="alert alert-secondary" role="alert">
                            A simple secondary alert—check it out!
                          </div>
                          <div class="alert alert-success" role="alert">
                            A simple success alert—check it out!
                          </div>
                          <div class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                          </div>
                          <div class="alert alert-warning" role="alert">
                            A simple warning alert—check it out!
                          </div>
                          <div class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="d-md-flex align-items-center">
                    <div>
                      <h4 class="card-title">Ganado</h4>
                      <p class="card-subtitle">
                        Listado de ganado
                      </p>
                    </div>
                  </div>
                  <div class="table-responsive mt-4">
                    <table class="table mb-0 text-nowrap varient-table align-middle fs-3">
                      <thead>
                        <tr>
                          <th scope="col" class="px-0 text-muted">
                            ID Vaca
                          </th>
                          <th scope="col" class="px-0 text-muted">Coordenadas</th>
                          <th scope="col" class="px-0 text-muted">
                            Temperatura
                          </th>
                          <th scope="col" class="px-0 text-muted text-end">
                            BPM
                          </th>
                        </tr>
                      </thead>
                      <tbody id="cow-table-body">
                        <tr>
                          <td class="px-0">
                            <div class="d-flex align-items-center">

                              <div class="ms-3">
                                <h6 class="mb-0 fw-bolder">Sunil Joshi</h6>
                                <span class="text-muted">Web Designer</span>
                              </div>
                            </div>
                          </td>
                          <td class="px-0">Elite Admin</td>
                          <td class="px-0">
                            <span class="badge bg-info">Low</span>
                          </td>
                          <td class="px-0 text-dark fw-medium text-end">
                            $3.9K
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0">
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <h6 class="mb-0 fw-bolder">
                                  Andrew McDownland
                                </h6>
                                <span class="text-muted">Project Manager</span>
                              </div>
                            </div>
                          </td>
                          <td class="px-0">Real Homes WP Theme</td>
                          <td class="px-0">
                            <span class="badge text-bg-primary">Medium</span>
                          </td>
                          <td class="px-0 text-dark fw-medium text-end">
                            $24.5K
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0">
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <h6 class="mb-0 fw-bolder">
                                  Christopher Jamil
                                </h6>
                                <span class="text-muted">SEO Manager</span>
                              </div>
                            </div>
                          </td>
                          <td class="px-0">MedicalPro WP Theme</td>
                          <td class="px-0">
                            <span class="badge bg-warning">Hight</span>
                          </td>
                          <td class="px-0 text-dark fw-medium text-end">
                            $12.8K
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0">
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <h6 class="mb-0 fw-bolder">Nirav Joshi</h6>
                                <span class="text-muted">Frontend Engineer</span>
                              </div>
                            </div>
                          </td>
                          <td class="px-0">Hosting Press HTML</td>
                          <td class="px-0">
                            <span class="badge bg-danger">Low</span>
                          </td>
                          <td class="px-0 text-dark fw-medium text-end">
                            $2.4K
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0">
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <h6 class="mb-0 fw-bolder">Micheal Doe</h6>
                                <span class="text-muted">Content Writer</span>
                              </div>
                            </div>
                          </td>
                          <td class="px-0">Helping Hands WP Theme</td>
                          <td class="px-0">
                            <span class="badge bg-success">Low</span>
                          </td>
                          <td class="px-0 text-dark fw-medium text-end">
                            $9.3K
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<script src="{{ url_for('static', filename='assets/libs/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/sidebarmenu.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/libs/simplebar/dist/simplebar.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

<script>
    // Usamos Jinja para inyectar las variables de entorno de Flask a JavaScript
    window.APP_CONFIG = {
        API_BASE_URL: "{{ API_BASE_URL }}",
        API_KEY: "{{ API_KEY }}"
    };
</script>

<script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>

</body>
</html>
</body>

</html>
